.daterangepicker td.in-range{
  background-color: #D9F7F1;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #1BB396;
}

.daterangepicker .input-mini.active {
  border-color: #1BB396;
}